#mainObjectiveImageLine-0 {
	height:72px;
}

#mainObjectiveImageLine-1 {
	height:38px;
}

#mainObjectiveImageLine-2 {
	height:68px;
}

#mainObjectiveImageLine-3 {
	height:28px;
}

#mainObjectiveImageLine-4 {
	height:28px;
}

#mainObjectiveImageLine-5 {
	height:249px;
}

#mainObjectiveImageLine-6 {
	height:59px;
}

#mainObjectiveImageLine-7 {
	height:116px;
}

#mainObjectiveImageLine-8 {
	height:63px;
}

#mainObjectiveImageLine-9 {
	height:35px;
}

#mainObjectiveImageLine-10 {
	height:43px;
}

.mainObjectiveImageColumn-0 {
	width:92px;
}

.mainObjectiveImageColumn-1 {
	width:390px;
}

.mainObjectiveImageColumn-2 {
	width:90px;
}