/* 
 * File for mainObjective/edit/card/editMainObjectiveCard.jsp
 */
.replacingNumbersBlock {
	padding-left: 6px;
	font-size: 26px;
}

.replacingNumbersInput {
	font-size: 28px;
	width: 40px;
	font-family: Ingleby-bold;
}

#replacingNumbersBlock-VICTORY {
	padding-top: 40px;
	vertical-align: top;
}

#replacingNumbersBlock-ADDITIONAL_RULE {
	padding-top: 105px;
	vertical-align: top;
}